body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #C72B6C;
}

a:hover {
  color: #363636;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: #363636;
}

.header__img {
  width: 50%;
  max-width: 350px;
  border-radius: 50%;
}

.header__description {
  font-weight: 500;
  text-align: center;
}

.header__description--magenta {
  color: #C72B6C;
  font-weight: 700;
  font-size: 24px;
}

.header__description--nuvo {
  color: #363636;
}

.header__cv {
  border: 1px solid #C72B6C;
  padding: 10px;
}

.header__cv:hover {
  border: 1px solid #C72B6C;
  background: #C72B6C;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* CONTACT */

.contact__icon {
  height: 32px;
}

.projects-title {
  font-weight: 700;
}

/* CARDS */

.card-image img {
  width: 100%;
  object-fit: contain;
}

.project-name {
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .header__description--nuvo {
    font-size: 18px;
  }
}