
html {
  scroll-behavior: smooth;
}

body {
  background: #F7F7F7;
  opacity: 0;
  animation: fade-in-down ease 0.4s forwards;
  animation-delay: 0.35s;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  color: #B6244F;
  transition: 0.25s ease-out;
}
a:hover {
  color: #5C1228;
  text-decoration: none;
  transition: 0.2s ease;
}

/* BUTTONS */
.button--magenta {
  border: 2px solid #B6244F;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 0;
  transition: 0.25s ease-out;
  display: inline-block;
}
.button--magenta:hover {
  background: #B6244F;
  color: #fff;
  text-decoration: none;
}

/* CONTAINER */
.container {
  /* color: #3F3E4F; */
  color: #333333;
  font-family: 'Inter', sans-serif;
}

/* NAVBAR */
nav {
  margin-top: 15px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a.nav__item {
  color: #333333;
  font-size: 16px;
  padding: 6px 12px;
  /* border: 2px solid red; */
}
a.nav__item span {
  padding: 8px 0;
  border-bottom: 2px solid #F7F7F7;
  transition: 0.2s ease;
}
a.nav__item:hover span {
  color: #525252;
  border-bottom: 2px solid #B6244F;
  transition: 0.25s ease-out;
}
.nav__cv {
  border: 2px solid #B6244F;
  padding: 6px 12px;
  border-radius: 0;
  transition: 0.25s ease-out;
  display: none;
}
.nav__cv:hover {
  background: #B6244F;
  color: #fff;
  text-decoration: none;
}

.back_404 {
  border: 2px solid #B6244F;
  padding: 6px 12px;
  border-radius: 0;
  transition: 0.25s ease-out;
}
.back_404:hover {
  background: #B6244F;
  color: #fff;
  text-decoration: none;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.header__title {
  color: #333333;
  font-size: 30px;
  margin: 12px 0 0 0;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.020em;
}
.header__title--span {
  display: block;
}
.header__img {
  width: 45%;
  max-width: 200px;
  border-radius: 50%;
}
.header__description--magenta {
  color: #FFFFFF;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  background: #B6244F; 
  padding: 5px 15px;
  margin: 20px 0 30px 0;
}
.header__description--nuvo-1 {
  color: #333333;
  max-width: 750px;
  font-weight: 500;
  text-align: center;
}
.header__description--nuvo-2 {
  color: #333333;
  max-width: 575px;
  font-weight: 500;
  text-align: center;
}
.header__cv {
  border: 2px solid #B6244F;
  padding: 6px 12px;
  border-radius: 0px;
  transition: 0.25s ease-out;
  margin: 15px 0 0 0;
}
.header__cv:hover {
  background: #B6244F;
  color: #FFFFFF;
  text-decoration: none;
}
.contact__icon {
  height: 38px;
  width: 38px;
  fill: #333333;
  transition: 0.20s ease-in-out;
}
.contact__icon:hover {
  fill: #B6244F;
}
.arrow-link {
  fill: #B6244F;
  transition: 0.20s ease-out;
}
.card-link:hover .arrow-link {
  fill: #5C1228;
}

/* PROJECT CARDS */
.projects-title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding: 0 10px;
  display: inline-block;
  letter-spacing: -0.020em;
  border-left: 7px solid #B6244F;
}

.row-project {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #FDFDFD;
}

.card {
  border-radius: 0;
  border: none;
  flex-grow: 1;
  /* box-shadow: 0px 0px 8px #dadada; */
}
.card-image img {
  width: 100%;
  object-fit: cover;
}
.card-body {
  padding: 1.25rem;
}
.project-tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.project-tag {
  font-size: 14px;
  background: #B6244F;
  color: #ffffff; 
  padding: 5px 8px;
  margin: 1px 2px 1px 0;
}
.project-name {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.project-description {
  margin: 0;
  font-weight: 500;
  letter-spacing: -0.35px;
}
.project-button {
  display: flex;
  justify-content: flex-end;
}
.card-footer {
  background: #FFFFFF;
  padding: 0 1.25rem 1.25rem;
  border-top: none;
}

/* CHEEMS */
.cheems {
  width: 250px;
}
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;  
  min-height: 650px;
  height: 100vh;
}
.not-found__title {
  font-size: 42px;
  font-weight: 700;
  margin: 42px 0 0;
}
.not-found__text {
  font-size: 18px;
  margin: 16px 0 20px;
}

/* @media only screen and (min-height: 768px) {
  .header {height: 100vh;}
} */

@media only screen and (min-width: 768px) {

  /* NAVBAR */
  nav {
    margin-top: 30px;
    justify-content: flex-end;
  }
  .nav__cv {
    display: block;
  }

  /* HEADER */
  .header__cv {
    display: none;
  }
  .header__title {
    font-size: 52px;
  }
  .header__title--span{
    display: inline;
  }
  .header__description--magenta {
    font-size: 20px;
  }
  .header__description--nuvo {
    font-size: 17px;
    letter-spacing: -0.007em;
  }
}
